<div ng-controller="EditBannerController as edit">
    <form name="edit.formEditBanner" ng-submit="edit.save(file)">
        <div class="col-md-4 col-xs-4">
            <div class="form-group input-group-sm">
                <label for="market">Market</label>
                <select class="form-control" disabled="disabled"
                        id="market"
                        ng-model="edit.banner.market"
                        ng-options="market.value as market.name for market in bannerCtrl.markets">
                </select>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="form-group input-group-sm">
                <label for="language">Language</label>
                <select class="form-control" disabled="disabled"
                        id="language"
                        ng-model="edit.banner.language"
                        ng-options="language for language in bannerCtrl.languages">
                </select>
            </div>
        </div>
        <div class="input-group input-group-sm col-xs-8"
             ng-class="edit.formEditBanner.iosLink.$invalid ? 'has-error':'has-success'">
            <label for="iosLink">iOS Link</label>
            <input type="text" id='iosLink' name='iosLink' class="form-control"
                   ng-model="edit.banner.ios_link" placeholder="iOS Link" required>
        </div>
        <div class="input-group input-group-sm col-xs-8"
             ng-class="edit.formEditBanner.androidLink.$invalid ? 'has-error':'has-success'">
            <label for="androidLink">Android Link</label>
            <input type="text" id='androidLink' name='androidLink' class="form-control"
                   ng-model="edit.banner.android_link" placeholder="Android Link" required>
        </div>
        <div class="input-group input-group-sm col-xs-8"
             ng-class="edit.formEditBanner.file.$invalid ? 'has-error':'has-success'">
            <label for="imgFile">Image (replace the old one, Max 1242 x 504)</label>
            <input type="file" ngf-select ng-model="file" accept="image/*" id="imgFile" name="file"
                   ngf-validate="{width: {max:1242}, height: {max:504}}" class="form-control" ng-model-rejected="rejFiles">
            <p class="text-danger" ng-repeat="file in rejFiles">{{file.name + ' invalid ' + file.$error}}</p>
        </div>
        <div class="input-group input-group-sm col-xs-8"
             ng-class="edit.formEditBanner.ordering.$invalid ? 'has-error':'has-success'">
            <label for="ordering">Ordering</label>
            <input type="number" id='ordering' name='ordering' class="form-control"
                   ng-model="edit.banner.ordering" placeholder="Ordering" required>
        </div>
        <div class="input-group">
            <label for="display">Display&nbsp;&nbsp;&nbsp;</label>
            <input type="checkbox"
                   id="display" name="display"
                   ng-model="edit.banner.display">
        </div>
        <div class="input-group input-group-sm col-xs-8"
             ng-class="edit.formEditBanner.displayUntil.$invalid ? 'has-error':'has-success'">
            <label>Display Until</label>

            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd"
                       ng-model="edit.banner.display_until" is-open="status.opened"
                       min-date="minDate"
                       ng-required="false" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)">
                <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
        <br>

        <!--<div ng-show='bannerCtrl.addSucceed' class="alert alert-success alert-dismissable" role="alert">-->
            <!--<a class="link-no-style" ng-click="bannerCtrl.showAddForm()"><strong>New banner added!!</strong></a>-->
        <!--</div>-->
        <button class="btn btn-success btn-block" ng-disabled="edit.formEditBanner.$invalid || edit.updating">Save</button>
        <button type="button" class="btn btn-danger btn-block" ng-click="edit.cancel()">Close</button>
    </form>
</div>
