<div class="panel-body">
    <select ng-model="coinCtrl.market" required="true">
        <option value='' selected>Please Choose Market</option>
        <option value ="FX">FX</option>
        <option value ="FC">FC</option>
        <option value ="SC">SC</option>
        <option value ="FT">FT</option>
    </select>
    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="coinCtrl.getSettings()" ng-disabled="!coinCtrl.market">Query</button>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-default">
                <table class="table table-responsive table-hover table-striped table-bordered"  ng-show="!coinCtrl.error">
                    <tr>
                        <td align="center">Description</td>
                        <td align="center"></td>
                        <td align="center">Coins</td>
                        <td align="center">Days</td>
                        <td align="center">Last Update Time</td>
                        <td align="center">Save</td>
                    </tr>
                    <tr ng-repeat="setting in settings">
                        <td>{{setting.description}}</td>
                        <td>
                            <span class="glyphicon {{setting.is_add ? 'glyphicon-plus text-success' : 'glyphicon-minus text-danger'}}" aria-hidden="true"></span>
                        </td>
                        <td><input type="number" ng-model="setting.coins" /></td>
                        <td><input type="number" ng-model="setting.days" /></td>
                        <td>{{coinCtrl.convertTime(setting.last_update_time)}}</td>
                        <td class="text-center">
                            <a href="#" ng-click="coinCtrl.updateSetting(setting)" class="glyphicon glyphicon-floppy-disk"></a>
                        </td>
                    </tr>
                </table>
                <div class="alert alert-danger" ng-show="coinCtrl.error">No data. Please try again or contact Seemo XD
                </div>
            </div>
        </div>
    </div>
</div>
