<div class="row performance">
    <div class="col-xs-12">
        <div class="box">
            <ul class="list-group" ng-class="{'grey-200': isPreview, 'shadow-top-bottom-inner': isPreview}">
                <li class="list-item b-b">
                    <span class="pull-left" ng-if="!isPreview">{{::lang.MY_CONTEST_SCORE}}</span>
                    <span class="pull-left" ng-if="isPreview">{{::lang.CONTEST_SCORE}}</span>
                    <a ui-sref="rules({ '#': 'scoring' })" class="pull-right">
                        {{::lang.SCORING_CRITERIA}}&nbsp;&nbsp;
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li class="list-item no-padding-xs">
                    <br>
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-overlay">
                                    <h5 ng-if="noScore" class="">{{::noScore}}</h5>
                                    <h5 class="text-white text-shadow">{{::userPerformance.fdt_score}}</h5>
                                    <small ng-if="userPerformance.fdt_score_upgrade_status === 'up'" class="performance-info-up text-shadow"><i class="fa fa-caret-up"></i>&nbsp; {{::userPerformance.fdt_score_upgrade}}</small>
                                    <small ng-if="userPerformance.fdt_score_upgrade_status === 'down'" class="performance-info-down text-shadow"><i class="fa fa-caret-down"></i>&nbsp; {{::userPerformance.fdt_score_upgrade}}</small>
                                    <small ng-if="userPerformance.fdt_score_upgrade_status === 'same'" class="text-white text-shadow">{{::userPerformance.fdt_score_upgrade}}</small>
                                </div>
                                <canvas tc-chartjs-radar chart-options="options" chart-data="data"></canvas>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-item text-center">
                    <small class="text-muted">{{::lang.NOTE_PERFORMANCE_CHART}}</small>
                </li>
                <li class="list-item text-center" ng-if="!isPreview">
                    <div class="text-center p-a-sm b-a grey-100 performance-ranking">
                        <a class="pull-left">
                            {{::lang.RANKING}}&nbsp;
                            <span class="performance-text">{{::userPerformance.fdt_ranking || "--"}}</span>&nbsp;&nbsp;
                            <span class="label"
                                  ng-class="{'performance-label-up': userPerformance.fdt_ranking_upgrade_status === 'up', 'performance-label-down': userPerformance.fdt_ranking_upgrade_status === 'down'}"
                                  ng-show="!noScore">
                                <i class="fa fa-caret-up" ng-if="userPerformance.fdt_ranking_upgrade_status==='up'"></i>
                                <i class="fa fa-caret-down" ng-if="userPerformance.fdt_ranking_upgrade_status==='down'"></i>&nbsp;{{::userPerformance.fdt_ranking_upgrade}}
                            </span>
                        </a>
                        |
                        <span class="">{{::lang.ROI}} <span class="performance-text">{{::userPerformance.roi || "--"}}%</span></span>
                    </div>
                </li>
                <li class="list-item text-center" ng-if="isPreview">
                    <a ng-href="{{::profileLink}}" class="btn btn-outline custom-button-outline">
                        <i class="fa fa-user pull-left"></i>{{::lang.VIEW_PROFILE}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="isKicked" class="performance-mask"></div>
</div>