<div class="modal-custom w-full v-m">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="p-a-sm box-color r box-shadow-z1 m-a">
                <div class="row">
                    <div class="col-xs-12 p-a-xs">
                        <span class="custom-text-color text-md" style="font-weight: bold;" ng-bind="popUpCtrl.lang.REGISTRATION_SUCCESS"></span>
                        <br>
                        <span class="text-sm text-grey-light" ng-bind="popUpCtrl.lang.CONTEST_WELCOME"></span>
                        <img class="img-responsive m-t-sm" ng-src="{{popUpCtrl.popUpImage}}" />
                        <a ng-click="popUpCtrl.goRules()" class="custom-text-color" ng-bind="popUpCtrl.lang.CONTEST_LEARN_MORE"></a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6 p-a-xs">
                        <button class="btn btn-block btn-sm btn-outline custom-button-outline"
                                onclick="onClosePopup()" >{{::popUpCtrl.lang.DONE}}</button>
                    </div>
                    <div class="col-xs-6 p-a-xs">
                        <a class="btn btn-block btn-sm custom-button-color"
                           ng-click="popUpCtrl.shareLink()">{{::popUpCtrl.lang.SHARE}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
