<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>ForexMaster</title>
    <script src="http://libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                    function () {
                        (b[l].q = b[l].q || []).push(arguments)
                    });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
        $(function(){
            $( "table#toSubmit tr" ).eq( 0 ).on( "click", function() {
                var p1 = $('input#p1').val();
                var p2 = $('input#p2').val();
                var result = '';

                check1 = PasswordCompare( p1 , p2 );
                check2 = PasswordLenght(p1);
                check3 = PasswordLenght(p2);

                if ( check1 == 'Y' ){
                    if ( check2 != 'Y' ){
                        alert('The first password must be at least 8 characters long');
                        $( "input#p1" ).focus();
                    }else if ( check3 != 'Y' ){
                        alert('The second password must be at least 8 characters long');
                        $( "input#p2" ).focus();
                    }else{
                        DoSubmit();

                    }
                }
            });
        })
        function DoSubmit(){
            var p1       = $('input#p1').val();
            var p2       = $('input#p2').val();
            var behavior = $('input#behavior').val();
            var language = $('input#language').val();

            $.ajax({
                url : "/user/v1/setPassword",
                data : {
                    'p1' : p1 ,
                    'p2' : p2 ,
                    'behavior' : behavior
                },
                type : "POST",
                dataType : "json",
                success : function(result) {
                    var theUrl  = document.location.origin ;
                    var feeback = result.meta.code ;
                    if( feeback == "200"){
                        window.location = theUrl + "/user/v1/setPasswordSuccess?language=" + language ;
                    }else{
                        window.location = theUrl + "/user/v1/invalidRequest?language=" + language ;
                    }
                }
            });
        }


        function PasswordLenght( srt ){
            var result = '';

            var len = srt.length;
            if ( len >= 8 ){
                result = 'Y';
            }else{
                result = 'N';
            }
            return result;
        }


        function visitCheck(){
            var check  = $('input#checkAction').val()
            if ( check != 'Y' ){
                $('body').html('');
            }
        }

        function PasswordCompare( p1 , p2 ){
            var result = 'N';
            if ( p1 == '' ){
                alert('Please provide a password');
                $( "input#p1" ).focus();
            }else if ( p2 == '' ) {
                alert('Please provide a password again');
                $( "input#p2" ).focus();
            }else{
                var p1Check = PassordCheck(p1);
                var p2Check = PassordCheck(p2);
                if ( p1Check != 'Y' ){
                    alert('Only allow English characters and numbers input');
                    $( "input#p1" ).focus();
                }else if ( p2Check != 'Y' ){
                    alert('Only allow English characters and numbers input');
                    $( "input#p2" ).focus();
                }else{
                    if ( p1 != p2 ){
                        alert('Please enter the same password as above');
                    }else{
                        result = 'Y';
                    }
                }
            }
            return result;
        }

        function PassordCheck( str ){
            var result = '';
            var rule = /^[0-9A-Za-z]*$/;
            var check = rule.test(str) ;
            if ( ( check === true ) ){
                result = 'Y';
            }else{
                result = 'N';
            }
            return result;
        }
        // @font-face {font-family: Din; src: url('http://www.fdt.io/DIN-Light.otf');}
    </script>
    <style type="text/css">
        body {
            background-color: #EFEFF4;
        }

        .Title {
            font-family:'Din';
            font-size:16px;
            font-weight:100;
            color:#FF0004;
        }

        .Content {
            font-family:'Din';
            font-size:14px;
            color:#3E3E3E;
            font-weight:100;
        }
        .Content_small {
            font-family:'Din';
            font-size:12px;
            color:#999999;
            font-weight:100;
        }
        .Content_blue {
            font-family:'Din';
            font-size:14px;
            color:#007AFF;
            font-weight:100;
            text-decoration:none;
        }
    </style>
</head>

<body>
<input type='hidden' id='checkAction' name='checkAction' value='{{ checkAction }}'>
<input type='hidden' id='behavior' name='behavior' value='{{ behavior }}'>
<input type='hidden' id='language' name='language' value='{{ language }}'>
<table style='max-width:500px;width:100%;' border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>

    <tr>
        <td bgcolor="#FFFFFF"><div align="center">
            <p><img src="/img/mailLogoCN.png" style='width:auto;height:auto;' alt=""/></p>
        </div></td>
    </tr>

    <tr>
        <td align="center" bgcolor="#FFFFFF"><br>
            <h2 class="Title"><img src="/img/icon_reset_red.png" width="26" height="33" alt=""/></h2>
            <h2 class="Title">密码重置<br>
                <span class="Content">请输入新密码</span><br>
                <!--<span class="Content_small">*仅限数字和字母</span>-->
            </h2>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
        <td bgcolor="#fff"><table width="321" border="0" align="center">
            <tbody>
            <tr>
                <td width="315" height="36" bgcolor="#efeff4">
                    <div align="left" style="padding-left:10px">
                        <span class="Content_small">新密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type='password' id='p1' name='p1'  >
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF"><table width="321" border="0" align="center">
            <tbody>
            <tr>
                <td width="315" height="36" bgcolor="#efeff4">
                    <div align="left" style="padding-left:10px">
                        <span class="Content_small">确认密码</span>
                        <input type='password' id='p2' name='p2'  >
                    </div>
                </td>
            </tr>
            </tbody>
        </table></td>
    </tr>

    <tr>
        <td align="center" bgcolor="#FFFFFF"><h2 class="Title">&nbsp;</h2></td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF">
            <table width="321" border="0" align="center" id='toSubmit'>
                <tbody>
                <tr>
                    <td width="315" height="36" bgcolor="#FF0004">
                        <div align="center" >
                            <span class="Content_small" style="color:#fff">确认提交</span><br>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="49" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" class="Content_small">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" class="Content_small">©2015年 FDT操盘手。版权所有。</td>
    </tr>
    <tr>
        <td align="center" class="Content_small">&nbsp;</td>
    </tr>
    </tbody>
</table>
</table>
</body>
</html>
