<div class="row margin-top-small margin-bottom-small b-b">
    <div class="col-xs-12">
        <div class="box p-a">
            <div class="contest-rule-title">{{::lang.CONTEST_RULES}}</div>
            <div class="contest-rule-content">
                <div class="contest-rule-item" ng-if="contest.min_user_settings">
                    {{::lang.ACTIVATION_NUMBER}}:<br>
                    {{::participant}}
                </div>
                <div class="contest-rule-item">
                    {{::lang.CONTEST_DURATION}}：<br>
                    {{::duraction}}
                </div>
                <div class="contest-rule-item" ng-if="description" ng-bind-html="description">
                </div>
            </div>
        </div>
    </div>
</div>