<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        var isiPhone = navigator.userAgent.match(/iPhone/i) != null;
        var isandroid = navigator.userAgent.match(/Android/i) != null;
        var isfdt = (/fdt/ig).test(navigator.userAgent);

        if (isandroid) {

            if(!isfdt) {
                setTimeout(function () {
                    window.location = "https://play.google.com/store/apps/details?id=com.hkfdt.tw.forex";
                }, 600);
            }
            window.location = "forexmastertw://fdt.io/{{deepLink.android_path}}{% autoescape false %}{{queryString}}{% endautoescape %}";

        } else if (isiPhone || isiPad) {

            if(!isfdt) {
                setTimeout(function () {
                    window.location = "https://itunes.apple.com/us/app/wai-hui-cao-pan-shou/id977075915";
                }, 600);
            }
            window.location = "ForexMasterTW://fdt/{{deepLink.ios_path}}{% autoescape false %}{{queryString}}{% endautoescape %}";

        } else {
            window.location = "http://fdtic.org/blog";
        }
    </script>
</head>
<body>

</body>
</html>
