<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        var isiPhone = navigator.userAgent.match(/iPhone/i) != null;
        var isandroid = navigator.userAgent.match(/Android/i) != null;
        var isfdt = (/fdt/ig).test(navigator.userAgent);

        if (isandroid) {

            if(!isfdt) {
                setTimeout(function () {
                    window.location = "https://play.google.com/store/apps/details?id=com.hkfdt.tw.stock";
                }, 6000);
            }
            window.location = "stockmasterlttw://fdt.io/{{deepLink.android_path}}{% autoescape false %}{{queryString}}{% endautoescape %}";

        } else if (isiPhone || isiPad) {

            if(!isfdt) {
                setTimeout(function () {
                    window.location = "https://itunes.apple.com/tw/app/qi-huo-cao-pan-shou/id1063278145?l=zh&mt=8";
                }, 6000);
            }
            window.location = "StockMasterLTTW://fdt/{{deepLink.ios_path}}{% autoescape false %}{{queryString}}{% endautoescape %}";

        } else {
            window.location = "http://fdt.io";
        }
    </script>
</head>
<body>

</body>
</html>
