<h4>步驟5 : 設定用戶IP對應的國度排序順序『非必填』</h4>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <form name="addContest.formAdditional" novalidate>
            <div class="form-group">
                <label for="region">IP Country Code</label>
                <input type="text" class="form-control" id="region"
                       ng-model="addContest.newContest.region"
                       placeholder="IP region (ex: TW, EN, CN, JP, IN, etc)" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <button class="btn btn-primary btn-md pull-left" wz-previous>Previous step</button>
        <button class="btn btn-primary btn-md pull-right" wz-next>Next step</button>
    </div>
</div>