<form name="addContest.formGeneralCn" novalidate>
    <div class="form-group">
        <label for="cn_name">比赛名称</label>
        <input type="text" class="form-control" name="cn_name" id="cn_name"
               placeholder="比赛名称" ng-model="addContest.newContest.cn_name">
    </div>
    <div class="form-group">
        <label for="cn_title">比赛副标题</label>
        <input type="text" class="form-control" name="cn_title" id="cn_title"
               ng-model="addContest.newContest.cn_title"
               placeholder="比赛副标题">
    </div>
    <div class="form-group">
        <label for="cn_description">比赛介绍</label>
                <textarea type="text" class="form-control" name="cn_description" id="cn_description"
                          style="resize:none;"
                          ng-model="addContest.newContest.cn_description"
                          placeholder="比赛介绍"></textarea>
    </div>
    <div class="form-group">
        <label for="cn_icon_image">比赛图片</label>
        <input type="file" id="cn_icon_image" name="cn_icon_image"
               custom-on-change="addContest.contestIconChanged"
               class="form-control">
    </div>
</form>