<html>
<head>
    <title>ForexMaster</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script language="JavaScript" type="text/JavaScript">
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        var isiPhone = navigator.userAgent.match(/iPhone/i) != null;
        var isandroid = navigator.userAgent.match(/Android/i) != null;

        if(isandroid)
        {
            document.location = 'forexmasterTW://fdt.io';
            setTimeout( function(){
                document.location = 'https://play.google.com/store/apps/details?id=com.hkfdt.tw.forex';
            },600);
        }
        if(isiPad)
        {
            document.location = 'forexmasterTW://fdt.io';
            setTimeout( function() {
                    document.location = 'https://itunes.apple.com/tw/app/wai-hui-cao-pan-shou/id977075915?l=zh&mt=8';

            }, 600);
        }
        if(isiPhone)
        {
            document.location = 'forexmasterTW://fdt.io';
            setTimeout( function() {
                    document.location = 'https://itunes.apple.com/tw/app/wai-hui-cao-pan-shou/id977075915?l=zh&mt=8';
                }, 600);
        }


    </script>

</head>
<body>

</body>
</html>