<html>
<head>
    <title>FuturesMaster</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script language="JavaScript" type="text/JavaScript">
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        var isiPhone = navigator.userAgent.match(/iPhone/i) != null;
        var isandroid = navigator.userAgent.match(/Android/i) != null;

        if(isandroid)
        {
            document.location = 'futuresmastercn://fdt.io';
            setTimeout( function(){
                document.location = 'http://zhushou.360.cn/detail/index/soft_id/2958663';
            },600);
        }
        if(isiPad)
        {
            document.location = 'FuturesMasterCN://fdt.io';
            setTimeout( function() {
                document.location = 'https://itunes.apple.com/us/app/qi-huo-cao-pan-shou/id990226890?l=zh&ls=1&mt=8';

            }, 600);
        }
        if(isiPhone)
        {
            document.location = 'FuturesMasterCN://fdt.io';
            setTimeout( function() {
                document.location = 'https://itunes.apple.com/us/app/qi-huo-cao-pan-shou/id990226890?l=zh&ls=1&mt=8';
            }, 600);
        }


    </script>

</head>
<body>

</body>
</html>