<html>
<head>
    <title>FuturesMaster</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script language="JavaScript" type="text/JavaScript">
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        var isiPhone = navigator.userAgent.match(/iPhone/i) != null;
        var isandroid = navigator.userAgent.match(/Android/i) != null;

        if(isandroid)
        {
            document.location = 'stockmastercn://fdt.io';
            setTimeout( function(){
                document.location = 'http://m.app.so.com/detail/index?pname=com.hkfdt.cn.stock&id=3043900';
            },600);
        }
        if(isiPad)
        {
            document.location = 'StockMasterCN://fdt.io';
            setTimeout( function() {
                document.location = 'https://itunes.apple.com/tw/app/gu-shi-cao-pan-shou/id1015766966?l=zh&mt=8';

            }, 600);
        }
        if(isiPhone)
        {
            document.location = 'StockMasterCN://fdt.io';
            setTimeout( function() {
                document.location = 'https://itunes.apple.com/tw/app/gu-shi-cao-pan-shou/id1015766966?l=zh&mt=8';
            }, 600);
        }


    </script>

</head>
<body>

</body>
</html>