<ul class="nav nav-sidebar">

    <li ng-class="{'active': selectedList=='school'}"><a id="school" href="#">School</a></li>
    <li ng-class="{'active': selectedList=='concentration'}"><a id="concentration" href="#">Concentration</a></li>
    <li ng-class="{'active': selectedList=='contest'}"><a id="contest" href="#">Contest</a></li>
    <li ng-class="{'active': selectedList=='contestV2'}"><a id="contestV2" href="#">Contest in HTML</a></li>
    <li ng-class="{'active': selectedList=='adBulletin'}"><a id="adBulletin" href="#">Contest Bulletin</a></li>
    <li ng-class="{'active': selectedList=='adBanner'}"><a id="adBanner" href="#">Contest Banner</a></li>
    <li ng-class="{'active': selectedList=='banner'}"><a id="banner" href="#">Banner</a></li>
    <li ng-class="{'active': selectedList=='deepLink'}"><a id="deepLink" href="#">Deep Link</a></li>
    <li ng-class="{'active': selectedList=='systemSettings'}"><a id="systemSettings" href="#">System Settings</a></li>
    <li ng-class="{'active': selectedList=='group'}"><a id="group" href="#">Group</a></li>
    <li ng-class="{'active': selectedList=='fuel'}"><a id="fuel" href="#">Fuel</a></li>
    <li ng-class="{'active': selectedList=='coin'}"><a id="coin" href="#">Coin</a></li>
    <li ng-class="{'active': selectedList=='user'}"><a id="user" href="#">User</a></li>
    <li ng-class="{'active': selectedList=='splashScreen'}"><a id="splashScreen" href="#">Splash Screen</a></li>
    <li ng-class="{'active': selectedList=='announce'}"><a id="announce" href="#">Announce</a></li>
    <li ng-class="{'active': selectedList=='student'}"><a id="student" href="#">Student</a></li>
</ul>
<!-- 後台項目新增設定 [Joe Notice]-->