<div class="app-header">
    <div class="row animated slideInRight">
        <div class="col-xs-12">
            <div class="box custom-color">
                <div class="box-header p-l-xs p-r-xs" align="center">
                    <a ng-click="goBack()" class="pull-left back-button" ng-if="!deeplink">
                        <img src="/img/icon_back_navbar-2.png" class="img-responsive nav-back-img"/>
                    </a>
                    <!-- for quitting contest -->
                    <a ng-href="{{deeplink}}" class="pull-left" ng-if="deeplink">
                        <img src="/img/icon_back_navbar-2.png" class="img-responsive nav-back-img"/>
                    </a>
                    {{title}}
                </div>
            </div>
        </div>
    </div>
</div>