<h3 >正在觀看：<font style="background-color:#E6E6FA"><i>{{contest.memberShowTitle}}</i/></font> 的參賽者列表</h3>
<br />
<button type="button" class="btn btn-primary" ng-click="contest.behavior.leaveViewMember()">看完了，點我離開</button>

<table class="table table-bordered">
    <!-- 標題 -->
    <thead>
    <tr class="info">
        <th>流水號</th>
        <th>UserID</th>
        <th>UserName</th>
        <th>PNL</th>
        <th>Email</th>
        <th>加入時間</th>
        <th>School Key</th>
    </tr>
    </thead>

    <!-- 內容 -->
    <tbody>
    <tr ng-repeat="person in contest.memberList" >
        <td>{{person.NUMBER}}</td>
        <td>{{person.USER_ID}}</td>
        <td>{{person.NAME}}</td>
        <td>{{person.PL_PER ? person.PL_PER : '尚未計算' }}</td>
        <td>{{person.EMAIL}}</td>
        <td>{{person.JOIN_DATE}}</td>
        <td>{{person.SCHOOL_KEY}}</td>
    </tr>
    </tbody>
</table>