<br>
<input type="text"
       class="form-control"
       placeholder="Search keyword"
       ng-model="contest.strFilter" >
<br>

<div class="table-responsive">
    <table class="table ">
        <!-- 標題列 -->
        <tr class="bg-primary">
            <td class="table-small-row">Id</td>
            <td class="table-small-row">Image</td>
            <td class="table-small-row">Name(EN)</td>
            <!--
            <td class="table-small-row">Version</td>
            -->
            <td class="table-small-row">Start Time</td>
            <td class="table-small-row">End Time</td>
            <td class="table-small-row">Edit</td>
        </tr>
        <!-- 查詢後 - 實際內容 -->
        <tr ng-repeat="contestData in contest.contestList | filter:contest.strFilter | orderBy: '-start_date_time' "
            ng-class="contestData.status === 'X'?'bg-danger':''">
            <td class="table-small-row vertical-middle">{{contestData.contest_id}}</td>
            <td class="table-small-row">
                <br/>

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <img class="img-responsive center-block"
                             ng-src="{{ contestData.selectedImage || contestData.icon_image}}"/>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-xs-12 col-md-12 text-center vertical-middle">
                        <ul class="nav nav-pills">
                            <li role="presentation"
                                class="{{contestData.selectedImageRegion == 'en' ? 'active':''}}">
                                <a ng-click="contest.switchImage(contestData.contest_id,'en')"
                                   tooltip="View EN image"
                                   tooltip-placement="right">EN</a>
                            </li>
                            <li role="presentation"
                                class="{{contestData.selectedImageRegion == 'cn' ? 'active':''}}">
                                <a ng-click="contest.switchImage(contestData.contest_id,'cn')"
                                   tooltip="View CN image"
                                   tooltip-placement="right">CN</a>
                            </li>
                            <li role="presentation"
                                class="{{contestData.selectedImageRegion == 'tw' ? 'active':''}}">
                                <a ng-click="contest.switchImage(contestData.contest_id,'tw')"
                                   tooltip="View TW image"
                                   tooltip-placement="right">TW</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="table-small-row vertical-middle">{{contestData.name}}</td>
            <!--
            <td class="table-small-row vertical-middle">{{contestData.version}}</td>
            -->
            <td class="table-medium-row vertical-middle">
                App端起始判斷時間(GMT+0)<br/>
                >>> {{ contestData.clientStartDatetime ? contestData.clientStartDatetime : '資料格式錯誤' }}<br/>
                LTS 交易日<br/>
                >>> {{ contestData.tradeStartDatetime ? contestData.tradeStartDatetime : '資料格式錯誤' }}
            </td>
            <td class="table-medium-row vertical-middle">
                App端結束判斷時間(GMT+0)<br/>
                >>> {{ contestData.clientEndDatetime ? contestData.clientEndDatetime : '資料格式錯誤' }}<br/>
                LTS 交易日<br/>
                >>> {{ contestData.tradeEndDatetime ? contestData.tradeEndDatetime : '資料格式錯誤' }}
            </td>
            <td class="table-medium-row vertical-middle">
                <a class="btn btn-primary"
                   ng-if="contestData.status !== 'X'"
                   ng-click="contest.edit(contestData.contest_id)">Edit</a>
                <a class="btn btn-danger"
                   ng-if="contestData.status === 'N'"
                   ng-click="contest.delete(contestData.contest_id)">Delete</a>
                <a class="btn btn-success"
                   ng-if="contestData.status === 'N'"
                   ng-click="contest.publish(contestData.contest_id)">Publish</a>
                <a class="btn btn-success"
                   ng-if="contestData.status === 'Y'"
                   ng-click="contest.behavior.memberClick(contestData.contest_id,contestData.name)">Member</a>
            </td>
        </tr>
    </table>

    <!--  查詢後 - 提示訊息  -->
    <div class="alert alert-info" ng-hide="contest.contestList.length > 0">
        <p>{{contest.loadingInfo}}</p>
    </div>
</div>