<div ng-controller="ContestController as contest" ng-init="contest.getPlannedContest()">
    <!--
    Click View : {{ contest.clickView }} <br />
    Member Show : {{ contest.memberShowOnly }} <br />
    showAddContest : {{ contest.showAddContest ? 'Y' : 'N' }} <br />
    showEditContest : {{ contest.showEditContest ? 'Y' : 'N'  }} <br />
    -->

    <!-- Contest 主題頁面 -->
    <div class="panel panel-default" ng-hide="contest.memberShowOnly == 'Y' " >
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Contest</h4>
            <a class="glyphicon link-no-style pull-right"
               style="font-size:20px;"
               ng-click="contest.showAddContestForm()"
               ng-class="contest.showAddContest ? 'glyphicon-remove-circle' : 'glyphicon-plus-sign'"
               ng-hide="contest.showEditContest"></a>
        </div>
        <div class="panel-body">
            <div ng-hide="contest.showAddContest || contest.showEditContest">
                <tabset justified="true">
                    <!-- Contest 內頁 -->
                    <tab heading="Planned Contest" select="contest.getPlannedContest()" ng-click="contest.behavior.tagViewClick('plan')">
                        <ng-include src="'/components/contest/contest-list.html'"/>
                    </tab>
                    <tab heading="Ready Contest" select="contest.getReadyContest()" ng-click="contest.behavior.tagViewClick('ready')">
                        <ng-include src="'/components/contest/contest-list.html'"/>
                    </tab>
                    <tab heading="On Going Contest"  select="contest.getOnGoingContest()" ng-click="contest.behavior.tagViewClick('going')">
                        <ng-include src="'/components/contest/contest-list.html'"/>
                    </tab>
                    <tab heading="Finished Contest" select="contest.getFinishedContest()" ng-click="contest.behavior.tagViewClick('over')">
                        <ng-include src="'/components/contest/contest-list.html'"/>
                    </tab>
                    <tab heading="Cancelled Contest" select="contest.getCancelledContest()" ng-click="contest.behavior.tagViewClick('cancel')">
                        <ng-include src="'/components/contest/contest-list.html'"/>
                    </tab>
                </tabset>
            </div>
            <div ng-show="contest.showAddContest">
                <ng-include src="'/components/contest/add/contest-add-form.html'"/>
            </div>
            <div ng-show="contest.showEditContest">
                <ng-include src="'/components/contest/edit/contest-edit-form.html'"/>
            </div>

        </div>
    </div>
    <!-- Contest Member 頁面 -->
    <div ng-show="contest.memberShowOnly == 'Y' ">
        <ng-include src="'/components/contest/contest-member.html'"/>
    </div>
</div>
