<!-- 提示訊息 -->

<!-- 上方 market 選項 -->
<div class="btn-group btn-group-justified" >
    <a href="#" class="btn"
       ng-class="{'btn-primary': $index%2 === 0, 'btn-danger': $index%2 !== 0}"
       ng-click="behavior.selectMarketReloadPage(key)"
       ng-repeat="(key, value) in marketList" >{{value}}</a>
</div>
<br>
<div class="panel panel-default">
    <!-- 標題列 -->
    <div class="panel-heading clearfix">
        <div ng-if="viewTag.watchModel == 'query'">
            <span class="panel-title pull-left">{{viewTag.marketFullName}} - 查詢頁面 - {{tabName}} </span>
            <a class="glyphicon glyphicon-plus pull-right" ng-click="behavior.watchModelSelect('add')"></a>
        </div>

        <div ng-if="viewTag.watchModel == 'edit'">
            <h4 class="panel-title pull-left"><h2>{{viewTag.marketFullName}}<small> - 編輯頁面</small></h2>
                <a class="glyphicon glyphicon-remove pull-right" style="font-size:20px;" ng-click="behavior.watchModelSelect('query')"></a>
        </div>

        <div ng-if="viewTag.watchModel == 'add'">
            <span class="panel-title pull-left">{{viewTag.marketFullName}} - 新增頁面</span>
            <a class="glyphicon glyphicon-remove pull-right"  ng-click="behavior.watchModelSelect('query')"></a>
        </div>
    </div>

    <!-- 查詢頁面 -->
    <div ng-if="viewTag.watchModel == 'query'">
        <uib-tabset justified="true"> <!-- tab 分頁  -->
            <!-- Contest 內頁 -->
            <uib-tab heading="草稿模式" ng-click="behavior.tagViewClick('plan')">
                <!--<h3><span class="label label-default">草稿模式</span></h3>-->
                <ng-include src="templateDetail"/>
            </uib-tab>
            <uib-tab heading="準備中（報名中）"ng-click="behavior.tagViewClick('upcoming')">
                <ng-include src="templateDetail"/>
            </uib-tab>
            <uib-tab heading="進行中" ng-click="behavior.tagViewClick('ongoing')">
                <ng-include src="templateDetail"/>
            </uib-tab>
            <uib-tab heading="已結束"  ng-click="behavior.tagViewClick('past')">
                <ng-include src="templateDetail"/>
            </uib-tab>
            <uib-tab heading="已取消"  ng-click="behavior.tagViewClick('cancel')">
                <ng-include src="templateDetail"/>
            </uib-tab>
        </uib-tabset>
    </div>

    <!-- 編輯頁面 -->
    <div ng-if="viewTag.watchModel == 'edit' && memberShowOnly == 'N' ">
        <ng-include src="'/components/contest-v2/edit/contest-edit.html'"/>
    </div>
    <!-- 新增頁面 -->
    <div ng-if="viewTag.watchModel == 'add' && memberShowOnly == 'N' ">
        <ng-include src="'/components/contest-v2/add/contest-add.html'"/>
    </div>

    <div ng-show="memberShowOnly == 'Y' ">
        <ng-include src="'/components/contest-v2/contest-member.html'"/>
    </div>

</div>
