<div ng-controller="contestHtml" data-ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default pull-right" ng-click="isCollapsed = !isCollapsed">Toggle Info</button>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div uib-collapse="isCollapsed">
                        <div class="well well-lg">
                            home page 環境變數一覽：<br/>
                            viewTag.tabSwitch : {{ viewTag.tabSwitch }} <br/>
                            viewTag.languageShow : {{ viewTag.languageShow }} <br/>
                            viewTag.watchModel : {{ viewTag.watchModel }} <br/>
                            viewTag.messageShow : {{ viewTag.messageShow }} <br/>
                            viewTag.initStatus : {{ viewTag.initStatus }} <br/>
                            viewTag.marketCode : {{ viewTag.marketCode }} <br/>
                            templateUrl : {{templateUrl}} <br/>
                            contestList : {{contestList}} <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div ng-if="viewTag.initStatus == 'done' ">
        <!-- 這裏的頁面會重新刷新，所以用變數控制-->
        <ng-include src="templateMain"/>
    </div>

</div>
