<div ng-controller= "contestHtmlEdit" data-ng-init="init(editContestId,editMarketCode)">

    <!-- 讀取資料中 -->
    <div ng-if="loadingStatus == 'loading' ">
        <ng-include src="'/components/contest-v2/loading-page/contest-edit-init.html'"/>
    </div>

    <!-- 讀取資料發生錯誤 -->
    <div ng-if="loadingStatus == 'faile' ">
        <ng-include src="'/components/contest-v2/loading-page/contest-edit-init.html'"/>
    </div>

    <!-- 讀取完成 -->
    <div ng-if="loadingStatus == 'done' ">
        <form name="contest_edit" ng-submit="goToSubmit(file)" >
            <div category="date_info" >
                <spen><h3>>> 比賽日期設置(GMT+0)</h3></spen>
                <div class="well">
                    <fieldset class="form-group">
                        <label for="start_date_time">開始時間</label>
                        <input type="text" class="form-control" name="start_date_time" id="start_date_time" ng-model="edit.start_date_time">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="end_date_time">結束時間</label>
                        <input type="text" class="form-control" name="end_date_time" id="end_date_time" ng-model="edit.end_date_time">
                    </fieldset>
                </div>
            </div>

            <div category="public_info" >
                <spen><h3>>> 比賽公開資訊相關</h3></spen>
                <blockquote>
                    預設語系設定：
                    <input type="radio" name="defaultLanguage" value="EN" ng-model="edit.default_language">英文
                    <input type="radio" name="defaultLanguage" value="CN" ng-model="edit.default_language">簡中
                    <input type="radio" name="defaultLanguage" value="TW" ng-model="edit.default_language">繁中
                </blockquote>
                （<font color="blue">如果client端偵測不到對應的語系,則會讀取預設值（所以預設值的項目語系為必填喔！）</font>）
                <div class="well">
                    <!-- 語言選擇器 -->
                <span> > 正在設定 {{languageSelect}} 訊息 <span> <!-- languageSelect 在後端設置的 -->
                    <div class="btn-group btn-group-justified" role="group" >
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="languageSelect" ng-model="viewController.languageSelect" value="EN" >英文版本
                            </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="languageSelect" ng-model="viewController.languageSelect" value="CN">簡中版本
                            </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="languageSelect" ng-model="viewController.languageSelect" value="TW">繁中版本
                            </label>
                        </div>
                    </div>

                    <!-- 英文 語系-->
                    <div ng-show="viewController.languageSelect == 'EN'">
                        <fieldset class="form-group">
                            <label for="en_name">Contest's English name</label>
                            <input type="text" class="form-control" name="en_name" id="en_name" ng-model="edit.en_name" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="en_title">Contest's English title</label>
                            <input type="text" class="form-control" name="en_title" id="en_title" ng-model="edit.en_title" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="en_content">About the contest</label>
                            <textarea class="form-control" name="en_content" id="en_content" ng-model="edit.en_content" rows="3"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="en_coin_mark">About the contest's coin name ( EX : $ )</label>
                            <input type="text" class="form-control" name="en_coin_mark" id="en_coin_mark" ng-model="edit.en_coin_mark" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="en_reward">About the contest's reward</label>
                            <textarea class="form-control" name="en_reward" id="en_reward" ng-model="edit.en_reward" rows="3"></textarea>
                        </fieldset>
                        <fieldset class="form-group" ng-if="edit.en_image != '' ">
                            <label for="en_original_image">Original image</label>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <img width="10%" id="en_original_image" ng-src="{{edit.en_image}}"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="en_image">Upload the contest icon</label>
                            <input type="file" class="form-control-file" name="en_image" id="en_image" ng-model="edit.en_image">
                        </fieldset>
                    </div>
                    <!-- 簡中 語系-->
                    <div ng-show="viewController.languageSelect == 'CN'">
                        <fieldset class="form-group">
                            <label for="cn_name">比赛名称</label>
                            <input type="text" class="form-control" name="cn_name" id="cn_name" ng-model="edit.cn_name" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="cn_title">比赛标题</label>
                            <input type="text" class="form-control" name="cn_title" id="cn_title" ng-model="edit.cn_title" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="cn_content">比赛叙述</label>
                            <textarea class="form-control" name="cn_content" id="cn_content" rows="3" ng-model="edit.cn_content"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="cn_coin_mark">比赛獎金符號 ( EX : $ )</label>
                            <input type="text" class="form-control" name="cn_coin_mark" id="cn_coin_mark" ng-model="edit.cn_coin_mark" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="cn_reward">奖金叙述</label>
                            <textarea class="form-control" name="cn_reward" id="cn_reward" ng-model="edit.cn_reward" rows="3"></textarea>
                        </fieldset>
                        <fieldset class="form-group" ng-if="edit.cn_image != '' ">
                            <label for="cn_original_image">原始圖片</label>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <img width="10%" id="cn_original_image" ng-src="{{edit.cn_image}}"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="cn_image">比赛图片上传</label>
                            <input type="file" class="form-control-file" name="cn_image" id="cn_image" ng-model="edit.cn_image">
                        </fieldset>
                    </div>
                    <!-- 繁中 語系-->
                    <div ng-show="viewController.languageSelect == 'TW'">
                        <fieldset class="form-group">
                            <label for="tw_name">比賽名稱</label>
                            <input type="text" class="form-control" name="tw_name" id="tw_name" ng-model="edit.tw_name" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="tw_title">比賽標題</label>
                            <input type="text" class="form-control" name="tw_title" id="tw_title" ng-model="edit.tw_title" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="tw_content">比賽敘述</label>
                            <textarea class="form-control" name="tw_content" id="tw_content" rows="3" ng-model="edit.tw_content"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="tw_coin_mark">比赛奖金符号 ( EX : $ )</label>
                            <input type="text" class="form-control" name="tw_coin_mark" id="tw_coin_mark" ng-model="edit.tw_coin_mark" value="">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="tw_reward">獎金敘述</label>
                            <textarea class="form-control" name="tw_reward" id="tw_reward" ng-model="edit.tw_reward" rows="3"></textarea>
                        </fieldset>
                        <fieldset class="form-group" ng-if="edit.tw_image != '' ">
                            <label for="tw_original_image">原始圖片</label>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <img width="10%" id="tw_original_image" ng-src="{{edit.tw_image}}"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="tw_image">比賽圖片上傳</label>
                            <input type="file" class="form-control-file" name="tw_image" id="tw_image" ng-model="edit.tw_image">
                        </fieldset>
                    </div>
                </div>
            </div>
            <div category="reward">
                <spen><h3>>> 比賽獎金設定</h3></spen>
                <blockquote>
                    <input type="radio" name="rewardModel" ng-model="edit.award_item" value="A" >浮動獎金制
                    <input type="radio" name="rewardModel" ng-model="edit.award_item" value="B" >固定獎金制
                    <footer>請選擇一種獎金計算方式</footer>
                </blockquote>
                <div class="well" ng-show="edit.award_item == 'A'">
                    <!-- 浮動獎金制 -->
                    <fieldset class="form-group">
                        <label for="fixed_reward_total_money">獎金基礎值</label>
                        <input type="text" class="form-control" name="dynamic_reward_base_money" id="dynamic_reward_base_money" ng-model="edit.dynamic_reward_base_money" value="" placeholder="比賽發佈的時,初始的獎金金額">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="dynamic_reward_rise_money">獎金成長值</label>
                        <input type="text" class="form-control" name="dynamic_reward_rise_money" id="dynamic_reward_rise_money" ng-model="edit.dynamic_reward_rise_money" value="" placeholder="每當一人加入時會增加的金額">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="dynamic_reward_max_money">獎金上限值</label>
                        <input type="text" class="form-control" name="dynamic_reward_max_money" id="dynamic_reward_max_money" ng-model="edit.dynamic_reward_max_money" value="" placeholder="獎金最大極限值">
                    </fieldset>
                </div>
                <div class="well" ng-show="edit.award_item == 'B'">
                    <!-- 固定獎金制 -->
                    <fieldset class="form-group">
                        <label for="fixed_reward_total_money">獎金總金額</label>
                        <input type="text" class="form-control" name="fixed_reward_total_money" id="fixed_reward_total_money" ng-model="edit.fixed_reward_total_money" value="" placeholder="獎金總金額,設置後固定不變">
                    </fieldset>
                </div>
            </div>
            <div category="join_cond">
                <spen><h3>>> 比賽門檻設置</h3></spen>
                <blockquote>加入前必要檢查條件</blockquote>
                <div class="well" data-toggle="buttons" >
                    <div class="well well-sm" style="background-color : white;">
                        <h4>是否必須綁定/設置過手機號碼</h4>
                        ->其設定值為
                        <!--<input type="checkbox" checked="checked" disabled> <font color="red">必要項目無法更動</font>-->
                        <select name="join_cond_has_phone" ng-model="edit.join_cond_has_phone" disabled>
                            <option value="Y" selected="selected" >是</option>
                            <option value="N">否</option>
                        </select>
                        <h5>（<font color="red">必要檢查項目無法更動</font>）</h5>
                    </div>
                    <div class="well well-sm" style="background-color : white;">
                        <h4>比賽結束前的N天無法加入</h4>
                        ->其設定值N為
                        <select name="join_cond_before_the_end_day_can_not_join" ng-model="edit.join_cond_before_the_end_day_can_not_join">
                        <option ng-repeat="n in range(367)" value="{{$index}}"  >{{$index}}</option>
                        </select>
                        <h5>（<font color="blue">設定0代表無此限制</font>）</h5>
                        <!--比賽結束前的 <input type="text" name="join_cond_before_the_end_day_can_not_join" id="join_cond_before_the_end_day_can_not_join" ng-model="join_cond_before_the_end_day_can_not_join" value="">天不能再加入-->
                    </div>
                    <div class="well well-sm" style="background-color : white;">
                        <h4>參賽者的 Account value 設定值</h4>
                        ->不能超過(包含)為
                        <select ng-model="viewController.edit_max_account" >
                            <option value="N" >無限制</option>
                            <option value="Y" >要設置為</option>
                        </select>
                        <span ng-show="viewController.edit_max_account == 'Y' " >
                            <input type="text" name="join_cond_max_money" ng-model="edit.join_cond_max_money" value="" placeholder="Account value最大值">
                        </span>

                        <br/>

                        ->不能小於(包含)為
                        <select ng-model="viewController.edit_min_account" >
                            <option value="N" >無限制</option>
                            <option value="Y" >要設置為</option>
                        </select>
                        <span ng-show="viewController.edit_min_account == 'Y'" >
                            <input type="text" name="join_cond_least_money" ng-model="edit.join_cond_least_money" value="" placeholder="Account value最小值">
                        </span>

                    </div>
                </div>

                <blockquote>
                    <p>次要檢查條件</p>
                    <footer>請 選 擇</footer>
                    是否需要檢查下列這些條件？
                    <select name="join_cond_enable" ng-model="edit.join_cond_enable">
                        <option value="Y" >需要</option>
                        <option value="N" >不需要</option>
                    </select>
                </blockquote>

                <div class="well" ng-show="edit.join_cond_enable == 'Y'">
                    <div class="well well-sm" style="background-color : white;">
                        <h4>必須上傳過學校證，且申請認證或者已通過驗證</h4>
                        ->其設定值為
                        <select name="join_cond_school_checking_before" ng-model="edit.join_cond_school_checking_before">
                            <option value="Y" >需要</option>
                            <option value="N" >不需要</option>
                        </select>
                    </div>
                    <div class="well row" style="border:#DDDDDD 1px solid; border-radius: 25px ;">
                        <div class="col-md-2" style="margin-top: 35px; text-align: center ; background-color: #E6E6FA ;" >任一條件通過<br/>即通過</div>
                        <div class="col-md-10">
                            <fieldset class="form-group" style="background-color : white; border: 2px solid #dddddd; padding: 10px; ">
                                <label for="join_cond_school_key">必須是指定學校(by school_key)才能參賽</label>
                                <div>
                                    ->其設定值為
                                    <select name="edit_school_key" ng-model="viewController.edit_school_key">
                                        <option value="N" >無限制school_key</option>
                                        <option value="Y" >school_key需 設置為</option>
                                    </select>
                                    <div ng-show="viewController.edit_school_key == 'Y' ">
                                        <input type="text" class="form-control" name="join_cond_school_key" id="join_cond_school_key" ng-model="edit.join_cond_school_key" placeholder="EX : 301,302 . 多組數值之間用逗點分開">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" style="background-color : white; border: 2px solid #dddddd; padding: 10px; ">
                                <label for="join_cond_school_key">必須是指定區域學校(by school_region)才能參賽</label>
                                <div>
                                    ->其設定值為
                                    <select name="edit_school_region" ng-model="viewController.edit_school_region">
                                        <option value="N" >無限制school_region</option>
                                        <option value="Y" >school_region需 設置為</option>
                                    </select>
                                    <div ng-show="viewController.edit_school_region == 'Y' ">
                                        <input type="text" class="form-control" name="join_cond_school_region" id="join_cond_school_region" ng-model="edit.join_cond_school_region" placeholder="EX : EX,CN . 多組數值之間用逗點分開">
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>

            </div>

            <div category="date_info" >
                <spen><h3>>> 競賽條件設置</h3></spen>
                <div class="well">
                    <div class="well well-sm" style="background-color : white;">
                        <h4>虧損超過指定的百分比後,即喪失比賽資格</h4>
                        ->其設定值
                        <select name="edit_stop_loss_point" ng-model="viewController.edit_stop_loss_point">
                            <option value="N" >無限制</option>
                            <option value="Y" >設置為</option>
                        </select>
                        <div ng-show="viewController.edit_stop_loss_point == 'Y' ">
                            <input type="text" name="ongoing_setting_stop_loss_point" ng-model="edit.ongoing_setting_stop_loss_point" value="" placeholder="EX : 100">%
                        </div>
                    </div>
                    <div class="well well-sm" style="background-color : white;">
                        <h4>比賽最少參賽人數限制,若未達標準則此比賽取消</h4>
                        ->其設定值
                        <select name="edit_join_user_limit" ng-model="viewController.edit_join_user_limit">
                            <option value="N" >無限制</option>
                            <option value="Y" >設置為</option>
                        </select>
                        <div ng-show="viewController.edit_join_user_limit == 'Y' ">
                            <input type="text" name="upcoming_setting_activation_user_total" ng-model="edit.upcoming_setting_activation_user_total" value="" placeholder="EX : 1000">人
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info" role="alert">
                <strong> 提醒 !</strong>
                如果比賽已經變成『進行中』了,進行存擋作業時,將會把獎金的金額刷新
            </div>
            <input type="submit" id="submit" value="確認此次修改，準備送出" />
        </form>
    </div>


</div>