<div class="row">
    <div class="col-xs-12 col-md-12">
        <form name="edit.formPrize" novalidate>
            <div class="form-group" ng-class="edit.formPrize.baseCoin.$invalid ? 'has-error':'has-success'">
                <label for="baseCoin">Base Coin</label>
                <input type="number" class="form-control" name="baseCoin" id="baseCoin"
                       ng-model="edit.contest.reward_base_money"
                       placeholder="0" required>
            </div>
            <div class="form-group" ng-class="edit.formPrize.maxCoin.$invalid ? 'has-error':'has-success'">
                <label for="maxCoin">Max Coin</label>
                <input type="number" class="form-control" name="maxCoin" id="maxCoin"
                       ng-model="edit.contest.reward_max_money"
                       placeholder="0" required>
            </div>
            <div class="form-group" ng-class="edit.formPrize.sumRate.$invalid ? 'has-error':'has-success'">
                <label for="sumRate">Sum Rate</label>
                <input type="number" class="form-control" name="sumRate" id="sumRate"
                       ng-model="edit.contest.reward_rise_money"
                       placeholder="0" required>
            </div>
            <div class="form-group" ng-class="edit.formPrize.coinName.$invalid ? 'has-error':'has-success'">
                <label for="coinName">Coin Name</label>
                <input type="text" class="form-control" name="coinName" id="coinName"
                       ng-model="edit.contest.reward_coin_name"
                       placeholder="Coin name" >
            </div>
            <div class="form-group" ng-class="edit.formPrize.coinMark.$invalid ? 'has-error':'has-success'">
                <label for="coinMark">Coin Mark</label>
                <input type="text" class="form-control" name="coinMark" id="coinMark"
                       ng-model="edit.contest.reward_coin_mark"
                       placeholder="$" >
            </div>
            <div class="form-group" ng-class="edit.formPrize.bonusRatio.$invalid ? 'has-error':'has-success'">
                <label for="bonusRatio">Bonus Ratio</label>
                <input type="text" class="form-control" name="bonusRatio" id="bonusRatio"
                       ng-model="edit.contest.reward_bonus_ratio"
                       number-only="number-only"
                       placeholder="Bonus quota (total quota is 100. ex: 70,20,10)" required>
            </div>
        </form>
    </div>
</div>