<div class="row">
    <div class="col-xs-12 col-md-12">
        <form name="edit.formAdditional" novalidate>
            <div class="input-group">
                <label for="freeContest">Free Contest&nbsp;&nbsp;&nbsp;</label>
                <input type="checkbox" id="freeContest"
                       ng-model="edit.contest.join_cond_free" ng-true-value="'Y'" ng-false-value="'N'"
                       placeholder="Name"/>
            </div>
            <div class="form-group">
                <label for="schoolKey">School Key</label>
                <input type="text" class="form-control" id="schoolKey"
                       ng-model="edit.contest.join_cond_school_key"
                       placeholder="School key">
            </div>
            <div class="form-group">
                <label for="schoolRegion">School Region</label>
                <input type="text" class="form-control" id="schoolRegion"
                       ng-model="edit.contest.join_cond_school_region"
                       placeholder="School region (EN, TW, CN, etc)">
            </div>
            <div class="form-group">
                <label for="contestantCountry">Contestant Country</label>
                <input type="text" class="form-control" id="contestantCountry"
                       ng-model="edit.contest.join_cond_user_country"
                       placeholder="Contestant country (EN, TW, CN, etc)">
            </div>
            <div class="form-group">
                <label for="allowedEmail">Allowed Email Domain</label>
                <input type="text" class="form-control" id="allowedEmail"
                       ng-model="edit.contest.join_cond_mail"
                       placeholder="Allowed email domain (ex: gmail.com,hotmail.com,hkfdt.com, etc)">
            </div>
        </form>
    </div>
</div>