<h4>Set additional information (Optional)</h4>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <form name="edit.formAdditional" novalidate>
            <div class="form-group">
                <label for="region">IP Country Code</label>
                <input type="text" class="form-control" id="region"
                       ng-model="edit.contest.region"
                       placeholder="IP region (ex: TW, EN, CN, JP, IN, etc)" />
            </div>
        </form>
    </div>
</div>