<div class="row no-gutter">
    <div class="col-xs-4 text-center b-r">
        <h6 ng-class="{'performance-info-up': scoreStats === 'up', 'performance-info-down': scoreStats === 'down', 'performance-info-same': scoreStats === '' && score}">
            {{::score || '--'}}
            <span ng-if="scoreStats === 'up'&& status !== 'past'"><i class="fa fa-caret-up"></i></span>
            <span ng-if="scoreStats === 'down'&& status !== 'past'"><i class="fa fa-caret-down"></i></span>
        </h6>
        <small>{{::lang.STATS_SCORE}}</small>
    </div>
    <div class="col-xs-4 text-center b-r">
        <h6 ng-class="{'performance-info-up': rankingStats === 'up', 'performance-info-down': rankingStats === 'down', 'performance-info-same': rankingStats === '' && ranking}">
            {{::ranking || '--'}}
            <span ng-if="rankingStats === 'up' && status !== 'past'"><i class="fa fa-caret-up"></i></span>
            <span ng-if="rankingStats === 'down'&& status !== 'past'"><i class="fa fa-caret-down"></i></span>
        </h6>
        <small>{{::lang.STATS_RANKING}}</small>
    </div>
    <div class="col-xs-4 text-center">
        <h6 ng-class="{'performance-info-up': globalRankStats === 'up', 'performance-info-down': globalRankStats === 'down', 'performance-info-same': globalRankStats === '' && globalRank !== '--'}">
            <span ng-if="joined === true">{{::globalRank}}</span>
            <span ng-if="globalRankStats === 'up'&& status !== 'past'"><i class="fa fa-caret-up"></i></span>
            <span ng-if="globalRankStats === 'down'&& status !== 'past'"><i class="fa fa-caret-down"></i></span>
            <span ng-if="!joined && status === 'past'">--</span>
        </h6>
        <small>{{::lang.STATS_GLOBAL_RANKING}}</small>
    </div>
</div>