
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>

    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script>

        // implement JSON.stringify serialization
        JSON.stringify = JSON.stringify || function (obj) {
                    var t = typeof (obj);
                    if (t != "object" || obj === null) {
                        // simple data type
                        if (t == "string") obj = '"'+obj+'"';
                        return String(obj);
                    }
                    else {
                        // recurse array or object
                        var n, v, json = [], arr = (obj && obj.constructor == Array);
                        for (n in obj) {
                            v = obj[n]; t = typeof(v);
                            if (t == "string") v = '"'+v+'"';
                            else if (t == "object" && v !== null) v = JSON.stringify(v);
                            json.push((arr ? "" : '"' + n + '":') + String(v));
                        }
                        return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
                    }
                };

        var token = {status:false, code:'ISmHCn7twDMFEwh7WT2mFHYH/BVVRXyQbzGOwZZ9kXZhGQ5E/P3Qx0tHPk2quSW8z7RvZ+Zjskdk3lUDsDztN7eqJzW1HaPHqYLfgFj6NfonLM64DiWh64jcho0mh3YmWjSYtbO5m/GQF5kGxaCyaY4nn4cdKDwDeUvI5QA5hDIJ8UGznKj3VyzrYL/f0Pyc9n9DL3+1IaKNY1X23NfkL5eCukREyMtRqlXNe7IrDxOcV1kM70+Rq/mcvMi9naCzNdVtjJ6MTpW5QC1xDj7dLpy75hq4F80HduJWmYQNIATmmabj3pWA3k3BCmYqNMZO5Y664ttmTUdrZ4wfzWtJKg=='};
        var query_queue = [];
        var userInfo = 'info';
        function setToken(val){
            token.code = val;
            token.status = true;
            writeLog("got a new token = " + val);

            while(query_queue.length > 0){
                writeLog("popout task to run..");
                var queryData = query_queue.pop();
                getData(queryData.url,queryData.params,queryData.callback);

            }
        };

        function writeLog(msg){
            $("#divConsoleLog").prepend("<p>" + msg + "</p>");
        }


        function getData(url,params,callback){
            if (token.status) {

                params.auth_token = token.code;
                $.ajax({
                    url: url,
                    data: params,
                    type: "POST",
                    dataType: 'json',

                    success: function (data) {
                        if (data.meta.code == 200) {
                            callback(data);
                        } else if (data.meta.code == 403) {
                            writeLog(JSON.stringify(data));
                            //$("#divConsoleLog").prepend("<p>" + JSON.stringify(data) + "</p>");
                            token.status = false;
                            query_queue.push({"url": url, "params": params, "callback": callback});
                            requestToken();
                        } else {
                            writeLog(JSON.stringify(data));
                            //$("#divConsoleLog").prepend("<p>" + JSON.stringify(data) + "</p>");
                            //error
                        }
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            }else{
                writeLog("token is expire, push task in queue");
                query_queue.push({"url": url, "params": params, "callback": callback});
            }
        };

        //query data
        function getUserInfo(){
            var url = '/apis/getUserProfile';
            var params = { auth_token : token.code };
            getData(url, params, showUserInfo);
        };
        function showUserInfo(data){
            if (data.meta.code == 200){
                writeLog('userid: ' + data.user.userid + ', username: ' + data.user.username)
                //$("#divConsoleLog").prepend('<p>userid: ' + data.user.userid + ', username: ' + data.user.username) + '</p>';
            }
        };

        function requestToken(){
            $("#divConsoleLog").prepend("<p>request a new token.</p>");
            top.location = "{{queryString.protocol}}://fdt/request/getToken";
        }

        function setTokenExpire(){
            token.code = 'ISmHCn7twDMFEwh7WT2mFHYH/BVVRXyQbzGOwZZ9kXZhGQ5E/P3Qx0tHPk2quSW8z7RvZ+Zjskdk3lUDsDztN7eqJzW1HaPHqYLfgFj6NfonLM64DiWh64jcho0mh3YmWjSYtbO5m/GQF5kGxaCyaY4nn4cdKDwDeUvI5QA5hDIJ8UGznKj3VyzrYL/f0Pyc9n9DL3+1IaKNY1X23NfkL5eCukREyMtRqlXNe7IrDxOcV1kM70+Rq/mcvMi9naCzNdVtjJ6MTpW5QC1xDj7dLpy75hq4F80HduJWmYQNIATmmabj3pWA3k3BCmYqNMZO5Y664ttmTUdrZ4wfzWtJKg==';
        }
        function clearLog(){
            $("#divConsoleLog").html('');
        }
        function setNewToken(){

            setToken('wSagM/70ybN5NHT/weoF3OjCx+wvaPuWmz2Vl8oMUqPhbItHDqO+u69EzD04iRXJ3rYxVc1SUA4Y8/7NT4TjkAcBckSDAGdmTjQfoB7E8sIbuRt+TirOrg7gRk1/bkZjbdru2BKJ5WVCnz+oMczdLptgkGa52IuHxHjjhArjF2IeNkaxH1E82YS0BZ6sdxBesj4T3hvKB/sQqL/WkSa5i1C91R1di3L5lXP+fyeTEGwZ5v8Y1betUv9JJ8V1CzD42uNZX8RwK7HRBWrup4Pr31J5M2CUkyD/cEb1CGee2XeeShVfP2nOzDh91tiw5FYEIy5pdPu/cO5MVEylyRTPaw==');
            //token.code = 'wSagM/70ybN5NHT/weoF3OjCx+wvaPuWmz2Vl8oMUqPhbItHDqO+u69EzD04iRXJ3rYxVc1SUA4Y8/7NT4TjkAcBckSDAGdmTjQfoB7E8sIbuRt+TirOrg7gRk1/bkZjbdru2BKJ5WVCnz+oMczdLptgkGa52IuHxHjjhArjF2IeNkaxH1E82YS0BZ6sdxBesj4T3hvKB/sQqL/WkSa5i1C91R1di3L5lXP+fyeTEGwZ5v8Y1betUv9JJ8V1CzD42uNZX8RwK7HRBWrup4Pr31J5M2CUkyD/cEb1CGee2XeeShVfP2nOzDh91tiw5FYEIy5pdPu/cO5MVEylyRTPaw==';
        }


    </script>
    <style>
        .listItem{
            width:100%;
            border-bottom:1px solid #000000;
            padding-bottom: 0.7em;
            padding-top: 0.7em;
        }
    </style>
</head>
<body>
<input type="button" value="getInfo" onclick="getUserInfo()"/>
<input type="button" value="setExpire" onclick="setTokenExpire()"/>
<input type="button" value="clear" onclick="clearLog()"/>
<input type="button" value="setNewToken" onclick="setNewToken()"/>
<input type="button" value="requestToken" onclick="requestToken()"/>

<div id="divConsoleLog" style="width:100%;height:300px;overflow:scroll;background-color:#f0a090;">
</div>

</body>
</html>