<div ng-controller="FuelController as fuel" ng-init="fuel.getSettings()" >
    <div class="panel panel-default" >
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Fuel</h4>
        </div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Fuel Settings">
                    <ng-include src="'/components/fuel/fuel-settings.html'"/>
                </tab>
                <tab heading="Fuel Log 查詢">
                    <ng-include src="'/components/fuel/fuel-log.html'"/>
                </tab>
                <tab heading="用戶Fuel及Coin查詢">
                    <ng-include src="'/components/fuel/fuel-user.html'"/>
                </tab>
                <tab heading="Fuel分佈查詢" select="fuel.getRankings()">
                    <ng-include src="'/components/fuel/fuel-ranking.html'"/>
                </tab>
            </tabset>
        </div>
    </div>

</div>