<br>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <label>Fuel Range:</label>

        <form class="form-inline">
            <div class="form-group">
                <label></label>
                <input type="number" class="form-control" ng-model="fuel.fuelConditionMin" placeholder="Min"/>
            </div>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <div class="form-group">
                <label></label>
                <input type="number" class="form-control" ng-model="fuel.fuelConditionMax" placeholder="Max"/>
            </div>
            <button class="btn btn-primary" ng-click="fuel.getRankings()">Search</button>
        </form>
    </div>
</div>
<div class="row" ng-show="fuel.fuelRankings.length > 0">
    <div class="col-sm-12 col-md-12 text-right">
        <h4 class="text-info">Total User: {{fuel.totalUserRankings}}</h4>
    </div>
    <div class="col-sm-12 col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td align="center" class="text-info">Profile Pic</td>
                <td align="center" class="text-info">User ID</td>
                <td align="center" class="text-info">User Name</td>
                <td align="center" class="text-info"><a href="#" ng-click="fuel.changeFuelRankingOrder('fuel')">Fuel</a>
                </td>
                <td align="center" class="text-info"><a href="#"
                                                        ng-click="fuel.changeFuelRankingOrder('coins')">Coins</a></td>
            </tr>
            <tr ng-repeat="ranking in fuel.fuelRankings | orderBy:fuel.rankingOrder:fuel.rankingOrderReverse">
                <td align="center" ng-bind="ranking.user_id"></td>
                <td align="center" ng-bind="ranking.user_id">User ID</td>
                <td align="center" ng-bind="ranking.user_id">User Name</td>
                <td align="center" ng-bind="ranking.fuel">Fuel</td>
                <td align="center" ng-bind="ranking.coins">Coins</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-12 col-md-12 text-right">
        <pagination total-items="fuel.totalUserRankings" ng-model="fuel.totalRankingCurPage" items-per-page="50"
                    max-size="10" class="pagination-sm" boundary-links="true"
                    ng-change="fuel.getRankings()"></pagination>
    </div>
</div>