<br>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">加分行為</div>
            <table class="table table-responsive table-hover table-striped table-bordered">
                <tr>
                    <td align="center">Description</td>
                    <td align="center">Action Point</td>
                    <td align="center">Counter</td>
                    <td align="center">Daily Max Point</td>
                    <td align="center">Memo</td>
                    <td align="center">Save</td>
                </tr>
                <tr ng-repeat="setting in fuel.settings">
                    <td>{{setting.description}}</td>
                    <td><input type="number" ng-model="setting.action_point" /></td>
                    <td><input type="number" ng-model="setting.case_max" /></td>
                    <td><input type="number" ng-model="setting.day_max" /></td>
                    <td>{{setting.memo || '-'}}</td>
                    <td class="text-center"><i ng-click="fuel.updateSettings($index)"
                                               class="glyphicon glyphicon-floppy-disk"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">扣分行為</div>
            <table class="table table-responsive table-hover table-striped table-bordered">
                <tr>
                    <td align="center">Description</td>
                    <td align="center">Action Point</td>
                    <td align="center">Counter</td>
                    <td align="center">Daily Max Point</td>
                    <td align="center">Memo</td>
                    <td align="center">Save</td>
                </tr>
                <tr ng-repeat="settingDelete in fuel.settingsDelete">
                    <td>{{settingDelete.description}}</td>
                    <td><input type="number" ng-model="settingDelete.action_point" /></td>
                    <td><input type="number" ng-model="settingDelete.case_max" /></td>
                    <td><input type="number" ng-model="settingDelete.day_max" /></td>
                    <td>{{settingDelete.memo || '-'}}</td>
                    <td class="text-center"><i ng-click="fuel.updateSettings($index)"
                                               class="glyphicon glyphicon-floppy-disk"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>
