<span>{{page+1}}/{{imageCount}}</span>
<div class="row">
    <div class="col-xs-2 pull-left left-arrow" ng-click="left()" style="cursor: hand;cursor: pointer;">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="col-xs-8">
        <a href="{{selectImage}}" class="highslide" onclick="return hs.expand(this)">
            <img ng-src="{{selectImage}}" class="img-responsive">
        </a>
    </div>
    <div class="highslide-caption">
    </div>
    <div class="col-xs-2 pull-left right-arrow" ng-click="right()" style="cursor: hand;cursor: pointer;">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
</div>