<div class="app-body-inner-mt-0">
    <div class="row animated slideInRight">
        <div class="col-xs-12">
            <details-head-dir contest="pastCtrl.contestDetail" shared="false"></details-head-dir>
            <div class="alert alert-kicked no-margin-bottom margin-top-small" ng-if="pastCtrl.contestDetail.is_kicked">
                <i class="fa fa-warning text-white"></i> You have lost more than
                {{::pastCtrl.contestDetail.stop_lose_setting}}%, so you have been withdrawn from the contest
            </div>
            <performance-chart-dir
                    ng-if="pastCtrl.contestDetail.join_status"
                    data="pastCtrl.performanceData"
                    user-performance="pastCtrl.userPerformance"
                    is-kicked="pastCtrl.contestDetail.is_kicked">
            </performance-chart-dir>
            <prize-dir content="pastCtrl.contestDetail.reward_description"></prize-dir>
            <div class="row" ng-if="pastCtrl.contestDetail.is_dynamic_reward">
                <dynamic-reward-dir max-money="pastCtrl.contestDetail.dynamic_reward_max_money"
                                    rise-money="pastCtrl.contestDetail.dynamic_reward_rise_money"
                                    current-money="pastCtrl.contestDetail.current_money"
                                    coin-mark="pastCtrl.contestDetail.coin_mark"></dynamic-reward-dir>
            </div>
            <top-performer-dir
                    participants="pastCtrl.topPerformers"
                    title="{{::pastCtrl.lang.TOP_PERFORMER}}"
                    state="pastCtrl.topPerformersState"
                    contest-id="pastCtrl.contestDetail.contest_id"
                    daily="false"
                    total-users="pastCtrl.contestDetail.user_join_sum">
            </top-performer-dir>
        </div>
    </div>
</div>
<div class="app-footer">
    <div class="row animated slideInRight">
        <div class="col-xs-12">
            <div class="box p-a-custom-sm text-center grey-500 no-margin-bottom b-b">
                <a class="btn btn-block grey-400 text-white">{{::pastCtrl.lang.STATUS_PAST}}</a>
            </div>
        </div>
    </div>
</div>