<div ng-controller="StudentController as StudentCtrl" ng-init="StudentCtrl.select(1);StudentCtrl.selectSchoolTab(1)">
    <div class="panel panel-default" >
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Student</h4>
        </div>
    </div>
    <div class="panel-body">
        <tabset justified="true">
            <tab heading="未認證" ng-click="StudentCtrl.select(1);StudentCtrl.selectSchoolTab(1)">
                <ng-include src="'/components/student/student-unverify.html'"/>
            </tab>
            <tab heading="已認證" ng-click="StudentCtrl.select(2);StudentCtrl.selectSchoolTab(2)">
                <ng-include src="'/components/student/student-verify.html'"/>
            </tab>
            <tab heading="已拒絕" ng-click="StudentCtrl.select(3);StudentCtrl.selectSchoolTab(3)">
                <ng-include src="'/components/student/student-reface.html'"/>
            </tab>
        </tabset>
    </div>
</div>