<br>
<div class="panel-body">
    <div class="col-lg-12">
        <div class="form-group">
            <select class="form-control" ng-model="StudentCtrl.schoolSelectFrom" ng-change="StudentCtrl.schoolSelected()">
                <option value="">All({{StudentCtrl.schoolTatolCount}})</option>
                <option ng-repeat="school in StudentCtrl.SchoolTab" value="{{school.school_key}}">{{school.en_name}}({{school.school_count}})</option>
            </select>
            <span>與username搜尋沒有關係</span>
        </div>
        <form class="form-inline" type="multipart/form-data" name="StudentCtrl.searchUserFrom" ng-submit="StudentCtrl.search()">
            <div ng-init="StudentCtrl.searchUserFrom.radio=1">
                <input type="radio" ng-model="StudentCtrl.searchUserFrom.radio" value="1" ng-click="StudentCtrl.radioChange('userId/userName')"> userId/userName
                <input type="radio" ng-model="StudentCtrl.searchUserFrom.radio" value="2" ng-click="StudentCtrl.radioChange('Email')"> Email
                <input type="radio" ng-model="StudentCtrl.searchUserFrom.radio" value="3" ng-click="StudentCtrl.radioChange('Phone')"> Phone
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{StudentCtrl.placeholder}}" ng-model="StudentCtrl.searchUserFrom.searchName" autofocus>
            </div>
            <button class="btn btn-success">Search</button>
        </form>
    </div>
</div>
<div class="row text-center panel-default">
    <div class="col-xs-4 table-bordered" ng-repeat="dist in StudentCtrl.data" style="padding: 5px;" ng-hide="StudentCtrl.divHide[dist.user_id]">
        <div class="row">
            <div class="col-xs-12">
                <p>FDTID : {{dist.user_id}}</p>

                <p>Nickname : {{dist.username}}</p>

                <p>School : {{dist.en_name}}({{dist.tc_name}})</p>

                <p>Phone : {{dist.PHONE}}</p>

                <p>Email : {{dist.EMAIL}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <image-slider-dir images="[dist.url1,dist.url2]"></image-slider-dir>
                <!--<img src="{{dist.url1}}" class="img-responsive">-->
                <!--<img src="{{dist.url2}}" class="img-responsive">-->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group"  ng-init="StudentCtrl.ExpireDate(dist.user_id,dist.verify_date)">
                    <div>有效期至
                        <select class="form-control" ng-model="StudentCtrl.ExpireDateYear[dist.user_id]">
                            <option ng-repeat="i in StudentCtrl.yearArray" value="{{i}}">{{i}}</option>
                        </select>
                        -
                        <select class="form-control" ng-model="StudentCtrl.ExpireDateMonth[dist.user_id]">
                        <option ng-repeat="j in StudentCtrl.monthArray" value="{{j}}">{{j}}</option>
                        </select>
                    <button id="single-button" type="button" class="btn btn-primary" ng-disabled="disabled" ng-click="StudentCtrl.verify(dist.user_id)">通過</button>
                    </div>
                </div><br>
                <div class="btn-group" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-danger" uib-dropdown-toggle
                            ng-disabled="disabled">拒絕 <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu2">
                        <li><a ng-click="StudentCtrl.reject(dist.user_id,'證件與資料不符')" href="#">證件與資料不符</a></li>
                        <li><a ng-click="StudentCtrl.reject(dist.user_id,'照片不清晰')" href="#">照片不清晰</a></li>
                        <li><a ng-click="StudentCtrl.reject(dist.user_id,'缺少必要訊息')" href="#">缺少必要訊息</a></li>
                        <li><a ng-click="StudentCtrl.reject(dist.user_id,'證件不符合規定')" href="#">證件不符合規定</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>