<div class="row margin-top-small">
    <div class="col-xs-12">
        <div class="box">
            <div class="b-b view-all">
                <ul class="list-group">
                    <li class="list-item no-padding-xs view-all">
                        <span class="pull-left view-all">
                            {{::title}}
                        </span>
                        <a ng-if="participants.length > 0" class="pull-right view-all">
                            {{::lang.VIEW_ALL}}&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list inset box b-b" bs-collapse ng-model="defaultCollapse">
                <div ng-if="participants.length < 1" class="top-performance-no-ranking">{{::lang.INFO_NO_RANKING}}</div>
                <participant-dir participant="participant" mode="{{mode}}" rank="{{$index+1}}" ng-repeat="participant in participants track by $index"></participant-dir>
            </div>
        </div>
    </div>
</div>