html,body {
    height: 100%; margin: 0px; padding: 0px;
    -webkit-overflow-scrolling: touch;
}

.custom-color {
    background-color: #007AFF !important;
    color: white;
}

.custom-text-color {
    color: #007AFF;
}

.custom-text-color:hover {
    color: #007AFF;
}

.head-details-bg{
    background-size:100% auto;
    background-repeat: no-repeat;
}

.custom-button-color {
    background-color: #007AFF !important;
    color: white;
}

.custom-button-outline {
    border-color: #007AFF !important;
    color: #007AFF;
}

.custom-navbar {
    background-color: #007AFF;
    color: white;
}

.custom-progress {
    background-color: #007AFF;
    color: white;
}

.label-joined {
    background-color: #4AB133 !important;
    color: white;
}

.label-ongoing {
    background-color: #4AB133 !important;
    color: white;
}

.label-upcoming {
    background-color: #007AFF !important;
    color: white;
}

.label-performer {
    background-color: #007AFF !important;
    color: white;
}

.performance-text {
    color: #009900;
}

.label-performance {
    background-color: #009900 !important;
    color: white;
}

.performance-info-up {
    color: #009900;
}

.performance-info-down {
    color: #E93030;
}

.performance-label-up {
    background-color: #009900 !important;
    color: white;
}

.performance-label-down {
    background-color: #E93030 !important;
    color: white;
}

.alert-kicked {
    background-color: #E93030 !important;
    color: white;
    border-radius: 0;
}

.nav-active-success .nav-link.active, .nav-active-success .nav>li.active>a {
    color: #007AFF !important;
    background-color: transparent !important;
    border-bottom: 3px solid #007AFF !important;
    font-size: 14px;
}

.tag-forex {
    background-image: url("/img/icon_discover_contest_tag_forex.png") !important;
}
.tag-futures {
    background-image: url("/img/icon_discover_contest_tag_futures.png") !important;
}
.tag-stock{
    background-image: url("/img/icon_discover_contest_tag_stock.png") !important;
}

.header-forex {
    background-image: url("/mobile/contest/styles/img/forex-header.jpg") !important;
}

.header-futures {
    background-image: url("/mobile/contest/styles/img/futures-header.jpg") !important;
}

.header-stock {
    background-image: url("/mobile/contest/styles/img/stock-header.jpg") !important;
}

.nav-link{
    color:#848484 !important;
    font-size: 14px !important;
}

.list-time{
    color:#848484 !important;
    font-size: 12px !important;
}

.list-name{
    color:#333333 !important;
    font-size: 16px !important;
}

.sub-info-title{
    color: #848484 !important;
    font-size: 12px !important;
}

.sub-info-title > img{
    width: 15px !important;
    margin-right: 3px;
}

.sub-info-value{
    width: 100% !important;
    font-size: 15px !important;
}

.tag-name-forex{
    color: #2196F3 !important;
    font-size: 10px !important;
    font-weight: 900 !important;
    margin-left: 25px;
}

.tag-name-futures{
    color: #26CBD9 !important;
    font-size: 10px !important;
    font-weight: 900 !important;
    margin-left: 25px;
}

.tag-name-stock {
    color: #673AB7 !important;
    font-size: 10px !important;
    font-weight: 900 !important;
    margin-left: 25px;
}

.contest-img {
    border: 2px solid #007AFF
}