<div ng-controller="SchoolController as school">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <a class="glyphicon glyphicon-refresh link-no-style pull-left"
               tooltip="Refresh bundle list" ng-click="school.getSchool()"></a>
            <h4 class="panel-title pull-left">&nbsp;&nbsp;Schools</h4>
            <a class="glyphicon link-no-style pull-right"
               style="font-size:20px;"
               ng-class="school.showAddSchool ? 'glyphicon-remove-circle' : 'glyphicon-plus-sign'"
               ng-click="school.showAddSchoolForm()"></a>
        </div>
        <div class="panel-body">
            <div ng-hide="school.showAddSchool">
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-left">
                        <form class="form-inline" type="multipart/form-data" name="school.searchFrom" ng-submit="school.search()">
                            <div ng-init="school.searchFrom.select=1">
                                <label>
                                    <input type="radio" ng-model="school.searchFrom.select" value="1" ng-click="school.radioChange('School Name')"> School Name
                                </label>
                                <label>
                                    <input type="radio" ng-model="school.searchFrom.select" value="2" ng-click="school.radioChange('Region')"> Region
                                </label>
                                <label>
                                    <input type="radio" ng-model="school.searchFrom.select" value="3" ng-click="school.radioChange('Display(Y/N)')"> Display(Y/N)
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{school.placeholder}}" ng-model="school.searchFrom.searchName" autofocus>
                            </div>
                            <button class="btn btn-success">Search</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table st-table="rowCollection" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-xs-1">Key</th>
                            <th class="col-xs-2">Flag</th>
                            <th class="col-xs-2">英文名稱</th>
                            <th class="col-xs-2">簡體名稱</th>
                            <th class="col-xs-2">繁體名稱</th>
                            <th class="col-xs-2">Region</th>
                            <th class="col-xs-1">刪除</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="schoolInfo in school.data">
                            <td>
                                <a ng-click="school.edit(schoolInfo.school_key)"
                            tooltip-placement="right"
                            tooltip="Click to edit school">{{schoolInfo.school_key}}</a>
                                <button class="btn btn-success" ng-if="!schoolInfo.group_id" ng-click="school.createGroup(schoolInfo)">創建群組</button>
                            </td>
                            <td class="col-xs-2">
                                <img ng-src="{{schoolInfo.flag_url ? schoolInfo.flag_url : 'http://placehold.it/100x100'}}" class="img-responsive" style="max-width: 100px;">
                            </td>
                            <td class="col-xs-2">{{schoolInfo.en_name}}</td>
                            <td class="col-xs-2">{{schoolInfo.sc_name}}</td>
                            <td class="col-xs-2">{{schoolInfo.tc_name}}</td>
                            <td class="col-xs-2">{{schoolInfo.region}}</td>
                            <td class="col-xs-1"><input type="checkbox"
                                                        id="is_del" name="is_del"
                                                        ng-model="schoolInfo.is_del"
                                                        ng-true-value="1" ng-false-value="0" disabled="true"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="school.showAddSchool">
                <form name="school.formAddNewSchool" ng-submit="school.saveNewSchool()" novalidate>
                    <div class="input-group input-group-sm"
                         ng-class="school.formAddNewSchool.en_name.$invalid ? 'has-error':'has-success'">
                        <label for="en_name">English Name</label>
                        <input type="text" id="en_name" name='en_name' class="form-control" ng-model="school.newSchool.en_name"
                               placeholder="English Name" required>
                    </div>
                    <div class="input-group input-group-sm"
                         ng-class="school.formAddNewSchool.sc_name.$invalid ? 'has-error':'has-success'">
                        <label for="sc_name">Simplified Chinese Name</label>
                        <input type="text" id="sc_name" name='sc_name' class="form-control"
                               ng-model="school.newSchool.sc_name" placeholder="簡體名稱" required>
                    </div>
                    <div class="input-group input-group-sm"
                         ng-class="school.formAddNewSchool.sc_pinyin.$invalid ? 'has-error':'has-success'">
                        <label for="sc_pinyin">Simplified Pinyin</label>
                        <input type="text" id="sc_pinyin" name='sc_pinyin' class="form-control"
                               ng-model="school.newSchool.sc_pinyin" placeholder="簡體拼音" required>
                    </div>
                    <div class="input-group input-group-sm">
                        <label for="tc_name">Traditional Chinese Name</label>
                        <input type="text" id="tc_name" name='tc_name' class="form-control"
                               ng-model="school.newSchool.tc_name" placeholder="繁體名稱">
                    </div>
                    <div class="input-group input-group-sm"
                         ng-class="school.formAddNewSchool.school_key.$invalid ? 'has-error':'has-success'">
                        <label for="school_key">School Key</label>
                        <input type="text" id='school_key' name='school_key' class="form-control"
                               ng-model="school.newSchool.school_key" placeholder="School Key" required>
                    </div>
                    <div class="input-group input-group-sm"
                         ng-class="school.formAddNewSchool.region.$invalid ? 'has-error':'has-success'">
                        <label for="region">Region</label>
                        <input type="text" id='region' name='region' class="form-control"
                               ng-model="school.newSchool.region" placeholder="Region" required>
                    </div>
                    <div class="input-group">
                        <label for="domains">Domain(s)</label>
                        <textarea type="text" id="domains" name='domains' class="form-control"
                                  ng-model="school.newSchool.domains"
                                  rows="5" cols="35" style="resize:none;" placeholder="Domain(s)"></textarea>
                    </div>
                    <div class="input-group input-group-sm">
                        <label for="file">File</label>
                        <input type="file" id="file"
                               upload-file="flagFile"
                               class="form-control">
                    </div>
                    <div class="input-group">
                        <label for="is_del">Delete&nbsp;&nbsp;&nbsp;</label>
                        <input type="checkbox"
                               id="is_del" name="display"
                               ng-model="school.newSchool.is_del"
                               ng-true-value="1" ng-false-value="0">
                    </div>
                    <br>

                    <div class="alert alert-danger" ng-show="school.error">{{school.error}}</div>
                    <div ng-show='school.addSucceed' class="alert alert-success alert-dismissable" role="alert">
                        <a class="link-no-style" ng-click="school.showAddSchoolForm()"><strong>New school
                            added!!</strong></a>
                    </div>
                    <button class="btn btn-success btn-block"
                            ng-disabled="school.formAddNewSchool.$invalid || school.uploading">
                        Create new school
                    </button>
                    <a class="btn btn-danger btn-block" ng-click="school.showAddSchoolForm()">Close</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit school -->
<script type="text/ng-template" id="edit-school.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit『{{editSchool.school.en_name}}』</h3>
    </div>
    <div class="modal-body">
        <form name="editSchool.formEditSchool" novalidate>
            <div class="input-group input-group-sm"
                 ng-class="editSchool.formEditSchool.editSchoolKey.$invalid ? 'has-error':'has-success'">
                <label for="school_key">School Key
                <input type="text" id='school_key' name='school_key' class="form-control"
                       ng-model="editSchool.school.school_key" placeholder="School Key" required ng-disabled="true"></label>
            </div>
            <div class="input-group input-group-sm"
                 ng-class="editSchool.formEditSchool.editEnName.$invalid ? 'has-error':'has-success'">
                <label for="en_name">English Name
                <input type="text" id="en_name" name='en_name' class="form-control" ng-model="editSchool.school.en_name"
                       placeholder="English Name" required></label>
            </div>
            <div class="input-group input-group-sm">
                <label for="sc_name">簡體中文(Simplified Chinese Name)
                <input type="text" id="sc_name" name='sc_name' class="form-control"
                       ng-model="editSchool.school.sc_name" placeholder="簡體名稱"></label>
            </div>
            <div class="input-group input-group-sm">
                <label for="sc_pinyin">簡體拼音
                    <input type="text" id="sc_pinyin" name='sc_pinyin' class="form-control"
                           ng-model="editSchool.school.sc_pinyin" placeholder="簡體拼音"></label>
            </div>
            <div class="input-group input-group-sm">
                <label for="tc_name">繁體中文(Traditional Chinese Name)
                <input type="text" id="tc_name" name='tc_name' class="form-control"
                       ng-model="editSchool.school.tc_name" placeholder="繁體名稱"></label>
            </div>
            <div class="input-group input-group-sm"
                 ng-class="editSchool.formEditSchool.editRegion.$invalid ? 'has-error':'has-success'">
                <label for="region">Region
                <input type="text" id='region' name='region' class="form-control"
                       ng-model="editSchool.school.region" placeholder="Region" required></label>
            </div>
            <div class="input-group">
                <label for="domains">Domain(s)</label>
                <textarea type="text" id="domains" name='domains' class="form-control"
                          ng-model="editSchool.school.domains"
                          rows="5" cols="35" style="resize:none;" placeholder="Domain(s)"></textarea>
            </div>
            <div class="input-group input-group-sm">
                <label for="flag_url">File</label>
                <img ng-src="{{editSchool.school.flag_url ? editSchool.school.flag_url : 'http://placehold.it/100x100'}}" class="img-responsive" style="max-width: 100px;">
                <input type="file" id="flag_url"
                       upload-file="editFlagFile"
                       class="form-control">
            </div>
            <div class="input-group">
                <label for="is_del">Display&nbsp;&nbsp;&nbsp;</label>
                <input type="checkbox"
                       id="is_del" name="is_del"
                       ng-model="editSchool.school.is_del"
                       ng-true-value="1" ng-false-value="0">
            </div>
        </form>
        <div class="alert alert-danger" ng-show="editSchool.error">Cannot update school. Please try again or contact Seemo XD
        </div>
        <div class="alert alert-success" ng-show="editSchool.editSucceed">School updated!</div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <button class="btn btn-primary btn-block" ng-click="editSchool.save(editSchool.school.school_key)"
                        ng-disabled="editSchool.updating || editSchool.formEditSchool.$invalid">Save
                </button>
            </div>
            <div class="col-md-6 col-xs-6">

                <a class="btn btn-danger btn-block" ng-click="editSchool.cancel()">Close</a>
            </div>
        </div>
    </div>
</script>
