<!-- <nav-dir title="bulletinCtrl.title"></nav-dir> -->
<div class="app-body-inner-mb-0">
    <div class="row animated slideInRight">
        <div class="col-xs-12">
            <div class="row margin-top-small">
                <div class="col-xs-12">
                    <div class="list box">
                        <div class="list-item" ng-repeat="bulletin in bulletinCtrl.bulletins track by $index">
                            <a ng-click="bulletinCtrl.goLink(bulletin.link)" target="_blank" class="_500">
                                <div class="list-body">
                                    <span ng-bind="bulletin.title"></span>
                                    <small class="block text-muted"
                                           ng-bind="bulletin.date * 1000 | date :'yyyy-MM-dd'"></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>