<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img class="img-responsive" style="max-height:100%" alt="Brand" src="/img/fdt-logo.png">
            </a>
        </div>
        <p class="navbar-text navbar-right" style="padding-right:30px;">
            <a ng-click="dashboard.logout()" class="link-no-style">Logout <i class="glyphicon glyphicon-log-out"></i></a>
        </p>
    </div>
</nav>