<div ng-class="participantCtrl.underLineClass"></div>
<div class="list-item" bs-collapse-toggle data-toggle="collapse" ng-click="participantCtrl.openChart(participantCtrl.participant.user_id)">
    <div class="list-left" ng-class="participantCtrl.rankClass">
        <div class="rank" ng-if="participantCtrl.mode != 'applied'">
            <i class="dot" ng-class="participantCtrl.dotClass">{{::participantCtrl.rank}}</i>
        </div>
        <span class="w-40 avatar red"><img class="participant-img" ng-src="{{participantCtrl.participant.image || '/mobile/contest/styles/img/icon_user_default.png'}}"></img></span>
    </div>
    <div class="list-body" ng-class="participantCtrl.bodyClass">
        <div class="m-y-sm pull-right">
            <span class="label label-performer particpant-label" ng-if="participantCtrl.score">{{::participantCtrl.participant.fdt_score}} {{::participantCtrl.lang.POINTS}}</span>
            <span class="label particpant-label"
                  ng-class="{'performance-label-up': participantCtrl.participant.ranking_upgrade_status === 'up', 'performance-label-down': participantCtrl.participant.ranking_upgrade_status === 'down'}"
                  ng-if="participantCtrl.updown">
                <i class="fa fa-caret-up" ng-if="participantCtrl.participant.ranking_upgrade_status === 'up'"></i>
                <i class="fa fa-caret-down" ng-if="participantCtrl.participant.ranking_upgrade_status === 'down'"></i>
                {{::participantCtrl.participant.ranking}}
            </span>
        </div>
        <span class="_500 particpant-username">{{::participantCtrl.participant.username}}</span>
        <small class="block text-muted particpant-schoolname">{{::participantCtrl.participant.school_name}}</small>
    </div>
</div>
<div class="box no-padding-xs" ng-if="participantCtrl.showChart">
    <performance-chart-dir
            data="participantCtrl.participant.data"
            user-performance="participantCtrl.userPerformance"
            is-preview="true"></performance-chart-dir>
</div>