<!-- <nav-dir title="performerListCtrl.title"></nav-dir> -->
<div class="app-body-inner-mb-0">
    <div class="row animated slideInRight">
        <div class="col-xs-12">
            <div class="box">
                <div class="list inset box" bs-collapse ng-model="defaultCollapse">
                    <participant-dir participant="topPerformer"
                                     mode="{{performerListCtrl.mode}}"
                                     rank="{{$index+1}}"
                                     ng-repeat="topPerformer in performerListCtrl.topPerformers track by $index"></participant-dir>
                </div>
            </div>
        </div>
    </div>
</div>